<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    coreApp="true"
    package="com.thain.android.settings.duo.icons">
    <overlay android:targetPackage="com.android.settings"
        android:isStatic="true"
        android:priority="900"
        android:requiredSystemPropertyName="persist.sys.thain.duo.enable_settings_icons"
        android:requiredSystemPropertyValue="1"
        />
</manifest>
